[submodule "themes/hasper"]
	path = themes/hasper
	url = git@github.com:dencold/hasper.git
[submodule "themes/casper-two"]
	path = themes/ad-blog-theme
	url = https://github.com/eueung/hugo-casper-two.git
